@{
    ViewData["Title"] = "Home Page";
}
<!--this is the home page with a temple, explanation, and link to the times page where they can schedule and appointment-->
<div class="text-center">
    
    <div class="container">
        <div class="row">
            <div class="col-2 "><br /><br /><br />
                <p>
                    The Layton Utah Temple is a temple of The Church of Jesus Christ of Latter-day Saints under construction in Layton, Utah.
                    The intent to construct the temple was announced by church president Russell M. Nelson on April 1, 2018, during the 188th annual general conference.
                </p>
            </div>
            <div class="col-10">
                <h1 >Welcome to the Layton Temple Site Site!</h1>
                <p>
                    Tours are currently being offered! Each tour lasts one hour and will conducted by one of our knowledgeable volunteers.<br />
                    See below to sign up for a tour.
                </p>
                <img width="550" src="~/temple.jpg" />

                <br /><br />
                <a asp-action="Times" class="btn btn-secondary">View Times</a>
            </div>
        </div>
    </div>
    @*<button asp-action="Times" class="btn btn-secondary">View Times</button>*@

    @*<form asp-action="Times" class="inline">
            <button class="button button5 submit-button" >Sign Up For Tour</button>
        </form>*@


</div>

            <!--Here is just some CSS to format the button-->
            <style>
                .button {
                    border: none;
                    color: white;
                    padding: 16px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    margin: 4px 2px;
                    transition-duration: 0.4s;
                    cursor: pointer;
                }

                .button5 {
                    background-color: white;
                    color: black;
                    border: 2px solid #555555;
                }

                    .button5:hover {
                        background-color: #555555;
                        color: white;
                    }
            </style>
