@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Layton Temple Site Site!</h1>
    <p>Tours are currently being offerred! Each tour lasts one hour and will conducted by one of our knowledgeable volunteers.
    See below to sign up for a tour.</p>
    <img width="600" src="~/temple.jpg" />
    <br /><br />
    <a asp-action="Times">
        <h3>Sign Up For a Tour</h3>
    </a>


</div>
