@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Layton Temple Site Site!</h1>
    <p>Tours are currently being offerred! Each tour lasts one hour and will conducted by one of our knowledgeable volunteers.
    See below to sign up for a tour.</p>
    <img width="600" src="~/temple.jpg" />
    <br /><br />

    @*<form asp-action="Times" class="inline">
        <button class="button button5 submit-button" >Sign Up For Tour</button>
    </form>*@

    <a asp-action="Times">View Times</a>


</div>

<!--Here is just some CSS to format the button-->
<style>
    .button {
        
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button5 {
        background-color: white;
        color: black;
        border: 2px solid #555555;
    }

    .button5:hover {
        background-color: #555555;
        color: white;
     }
</style>
