@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Layton Temple Scheduler!</h1>
    <p>Please select a time to begin scheduling your appointment</p>
</div>
