@{
    ViewData["Title"] = "Appointment Information";
}

<h2>User Input</h2>
<!--The user will fill out their group info here to be stored in the database-->

@model Group


<form method="post" asp-action="TimeForm">
    <label asp-for="TimeChosen">Time</label>
    <input value="@Model.TimeChosen" asp-for="TimeChosen" readonly /><br />

    <label asp-for="Name">Group Name</label>
    <input asp-for="Name" type="text" /><br />

    <label asp-for="Size">Group Size</label>
    <input asp-for="Size" type="number" min="1" /><br />

    <label asp-for="Email">Email Address</label>
    <input asp-for="Email" type="email" /><br />

    <label asp-for="PhoneNumber">Phone Number (Optional)</label>
    <input asp-for="PhoneNumber" type="tel" /><br /><br />

    <div asp-validation-summary="All"></div>
    <button type="submit">Submit</button>
</form>